<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'keys/css/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <title>Главная страница</title>
</head>
<body class="text-center">

    <div style="margin-top:50px">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <span class="navbar-brand">Хранилище криптографических ключей</span>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">RSA ключи</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Ссылка</a>-->
<!--                </li>-->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active enable" href="{% url 'logout' %}"  aria-disabled="true">Выйти</a>
                </li>
                {% endif %}
                </ul>

        </div>

        </nav>

    </div>

    <span class="container">
    {% block content %}

    {% endblock %}
    </span>

</body>
</html>