{% extends 'keys/base.html' %}
{% block content %}

{% if user.is_authenticated %}

<form method="get"
{{ myFilter.form }}
<button type="submit">search</button>
<table class="table">
<thead>
    <tr>
        <th scope="col">Значение ключа</th>
        <th scope="col">Бой/Тест</th>
        <th scope="col">Пользователь</th>
        <th scope="col">KCV ключа</th>
        <th scope="col">Тип ключа</th>
    </tr>
</thead>
<tbody>
{% for item in data %}
    <tr>
        <td>{{item.key}}</td>
        <td>{{item.choice}}</td>
        <td>{{item.key_user}}</td>
        <td>{{item.key_kcv}}</td>
        <td>{{item.key_type}}</td>
{% endfor %}
    </tr>
</tbody>
</table>

{% else%}
<h4>Вы находитесь на портале для хранения криптографических ключей</h4>
<p>Доступ к данным возможен только при наличии соответствующего уровня доступа. </p>
<p>Обладателю соответствующего уровня доступа необходимо <a href="{% url 'login' %}">авторизоваться</a> используя полученный логин и пароль.</p>
<p></p>



{% endif%}
{% endblock content %}
