{% extends 'mysiteapp/base.html' %}

  {% block main_section %}

  <h1>Hello, this is page with goods!</h1>



{%for item in goods_list%}
<h3>{{item.name}}</h3>
<p>Описание: {{item.description}}</p>
<p>Цена: {{item.price}}</p>
{% endfor %}


  {% endblock main_section %}

    {% block aside_news_section %}

  <h3><b>Интересные статьи:</b></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
        <img src="https://itproger.com/img/courses/1539259763.jpg" class="img-thumbnail">

    {% endblock aside_news_section %}


