<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'keys/css/bootstrap.min.css' %}" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'keys/js/bootstrap.min.js' %}">
    <script src="{% static 'keys/js/jquery.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    {% if form.errors %}
    <p>Произошла ошибка,возможно вы неверно ввели логин или пароль. Попробуйте еще раз или обратитесь к администратору!</p>
    {% endif %}

    <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Авторизация:</h3>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="username" type="text" class="form-control" placeholder="Логин" value=""/>
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="Пароль" value=""/>
                        </div>
                        <div class="form-group">
                            <input class="btnSubmit" type="submit" value="Войти" >
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                    </form>

                </div>

            </div>
 <p style="padding-top:30px; color:#999999">Вводя логин и пароль вы принимаете на себя риски связанные с возможной компрометацией или утечкой криптографических ключей</p>

        </div>
</body>
</html>